h1 {
	padding-top: 150px;
	text-align: center;
	
}

.main {
	
	padding-left: 100px;
	padding-right: 100px;
	text-align: left;
	font-size:40px;
}

.main1 {
	
	padding-left: 100px;
	padding-right: 100px;
	text-align: center;
	font-size:40px;
}
.cars option{
 width:150px;   
}

p